.header img {
    width: 100%;
    max-height: 500px;
}

h1 {
    text-transform: uppercase;
}

h1, h2 {
    color: #FFFF66;
}

.main p {
    color:#221100;
    font-size: 25px;
}

h1 {
    font-size: 40px;
    margin: 0;
    padding: 50px 0;
}

h2 {
    font-size: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin:0;
}

ul a {
    text-decoration: none;
    color: black;
    font-family: cursive;
}

.navbar ul li {
    float: left;
    height: 50px;
    background: #ECC16C;
    width: 16.6666666667%;
    padding: 0;
    margin-top: -4px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
}
.navbar ul li:hover {
    background: #ECC133;
}

.main {
    background-image: url(GjscCgG.jpg);
}

.custom-select {
    float: right;
    padding-top: 50px;
    padding-right: 300px;
}

.custom-select select {
    font-size: 30px;
}

.pics::after {
    content: "";
    clear: both;
    display: table;
}

.loom {
    float:left;
    width: 30%;
    padding: 15px;
}

#kass1, #koer1 {
    padding-bottom: 0;
}

.loom p {
    text-align: center;
}

.map {
    margin: auto;
    padding-bottom: 20px;
}

.main {
    padding: 20px;
}

.kuulutused a {
    text-decoration: none;
}

.kuulutused a:hover {
    text-decoration:underline;
}

.loomad {
    width: 90%;
}

.loomad img {
    float: right;
    margin-top: -100px;
}

.toetajad {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.toetajad img {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
}

.varjupaigast {
    width: 70%
}

.footer {
    background: #888888;
    text-align: right;
    padding: 10px 40px 10px 0;
}

.footer p {
    margin: 0;
}

@media only screen and (min-width: 700px) and (max-width: 846px) {
    .navbar ul li {
        line-height: 25px;
    }
    h1, h2 {
        text-align: center;
    }
    .toetajad a img {
        height: 200px;
    }
    .loomad img {
        margin-top: -50px;
    }
    .pics::after {
        content: "";
        clear: both;
        display: table;
    }
    .loom {
        float:left;
        width: 45%;
        padding: 15px;
    }
    .toetajad {
        display:block;
    }
    .toetajad img {
        height: auto;
        width: auto;
    }
}

@media only screen and (min-width: 100px) and (max-width: 699px) {
    .navbar ul li {
        line-height: 25px;
    }
    h1, h2 {
        text-align: center;
    }
    .toetajad a img {
        height: 200px;
    }
    .loomad img {
        margin-top: -50px;
    }
    .map {
        width: 100%;
        height: 400px;
        max-width: 500px;
        max-height: 450px;
    }
    .loom {
        width: 97%;
    }
    .loom p {
        font-size: 2em;
    }
    .loomad img {
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }
    .loomad p {
        text-align: center;
        font-size: 2em;
    }
    .toetajad {
        display: block;
        text-align: center;
    }
    .toetajad a img {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
    .varjupaigast {
        width: 100%;
        text-align: center;
    }
}