* {
    margin: 0;
    padding: 0;
}

.header img {
    width: 100%;
    max-height: 600px;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
    padding: 50px 0;
    color: #824;
}

h2 {
    font-size: 35px;
    padding: 20px 0;
    color: #824;
}

.navbar {
    width: 100%;
}

.navbar ul li {
    float: left;
    height: 50px;
    background: #ECC16C;
    width: 16.6666666667%;
    padding: 0;
    margin-top: -4px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
}

.navbar ul li:hover {
    background: #ECC133;
}

ul {
    list-style: none;
    padding: 0;
    margin:0;
}

ul a {
    text-decoration: none;
    color: black;
    font-family: cursive;
}

.main {
    background-image: url(img/textile-2918844_960_720.jpg);
    padding: 20px;
}

.main p {
    color:#824;
    font-size: 25px;
    padding:  10px 0;
}

.show {
    display: block;
}

.pics {
    overflow: hidden;
}

.myBtnContainer {
    float: left;
    width: 20%;
}

.myBtnContainer button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    transition: background 0.5s;
    transition: border-radius 0.5s;
}

.myBtnContainer button:hover {
    background: #bbb;
    border-radius: 50px;
}

.pics::after {
    content: "";
    clear: both;
    display: table;
}

.loom {
    float:left;
    width: 30%;
    padding: 15px;
}

#kass1, #koer1 {
    padding-bottom: 0;
}

.loom p {
    text-align: center;
}

.map {
    padding-bottom: 20px;
}

.kuulutused a {
    text-decoration: none;
}

.kuulutused a:hover {
    text-decoration: underline;
}

.loomad {
    width: 90%;
}

.loomad img {
    float: right;
    margin-top: -100px;
}

.toetajad {
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.toetajad img {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
}

.varjupaigast {
    width: 60%;
}

.footer {
    background: #888888;
    text-align: right;
    padding: 10px 40px 10px 0;
}

.footer p {
    margin: 0;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window h1 {
    text-align: center;
    font-size: 3em !important;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 400px;
    position: relative;
    margin: 5% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
}

.modal-window header {
    font-weight: bold;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: #000;
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}


@media only screen and (min-width: 700px) and (max-width: 846px) {
    .navbar ul li {
        line-height: 25px;
    }

    h1, h2 {
        text-align: center;
    }

    .toetajad a img {
        height: 200px;
    }

    .loomad img {
        margin-top: -50px;
    }

    .pics::after {
        content: "";
        clear: both;
        display: table;
    }

    .loom {
        float:left;
        width: 45%;
        padding: 15px;
    }

    .toetajad {
        display:block;
    }

    .toetajad img {
        height: auto;
        width: auto;
    }

    .form {
        text-align: center;
        width: 100%;
    }

}

@media only screen and (min-width: 100px) and (max-width: 699px) {
    .navbar ul li {
        line-height: 25px;
    }

    h1, h2 {
        text-align: center;
    }

    .toetajad a img {
        height: 200px;
    }

    .loomad img {
        margin-top: -50px;
    }

    .map {
        width: 100%;
        height: 400px;
        max-width: 500px;
        max-height: 450px;
    }

    .loom {
        width: 97%;
    }

    .loom p {
        font-size: 2em;
    }

    .loomad img {
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }

    .loomad p {
        text-align: center;
        font-size: 2em;
    }

    .toetajad {
        display: block;
        text-align: center;
    }

    .toetajad a img {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    .varjupaigast {
        width: 100%;
        text-align: center;
    }

    .main {
        text-align: center;
    }

    .form {
        text-align: center;
        width: 100%;
    }
    .myBtnContainer {
        float: none;
        width: 100%;
    }

}

@media only screen and (min-width: 847px) and (max-width: 1200px) {
    .toetajad {
        padding-left: 8%;
        padding-right: 8%;
    }
}